backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

media_folder: static/img
public_folder: /img

collections:
  - name: "office"
    label: "Office"
    folder: "src/pages/offices"
    create: true    
    slug: "{{country}}-{{location}}"
    fields:
      - label: "Template Key"
        name: "templateKey"
        widget: "hidden"
        default: "office-page"
      - label: "Location" 
        name: "location" 
        widget: "string"
      - label: "Country" 
        name: "country"
        widget: "string"
      - label: "Country Abbreviation"
        name: "countryAbbreviation"
        widget: "string"
      - label: "Address"
        name: "address"
        widget: "markdown"
      - label: "Email"
        name: "email"
        widget: "string"
      - label: "Opening Date"
        name: "openingDate"
        widget: "date"      
      - label: "Hero"
        name: "hero" 
        widget: "object"
        fields:
          - label: "Title" 
            name: "title"
            widget: "string"             
          - label: "Summary" 
            name: "summary" 
            widget: "markdown"
          - label: "Tag" 
            name: "tag" 
            widget: "string"
          - label: "Image" 
            name: "image" 
            widget: "image"
      - label: "Media and Copy Block"
        name: "media_and_copy_block"
        widget: "object"
        fields:
          - label: "Title" 
            name: "title"
            widget: "string"  
          - label: "Summary" 
            name: "summary" 
            widget: "markdown"
          - label: "Large Media" 
            name: "large_media" 
            widget: "image"
          - label: "Small Media" 
            name: "small_media" 
            widget: "image"
          - label: "Media Side"
            name: "media_side"
            widget: "select"
            options: ["left", "right"]
          - label: "CTA"
            name: "cta"
            widget: object
            fields:
              - label: "Text"
                name: "text"
                widget: "string"
              - label: "href"
                name: "href"
                widget: "string"
