backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

media_folder: static/img
public_folder: /img

collections:
  - name: "social_navigation"
    label: "Social Navigation"
    folder: "src/page/social"
    create: true
    slug: "{{network_code}}"
    fields:
      - label: "Template Key"
        name: "templateKey"
        widget: "hidden"
        default: "social-page"
      - label: "Label" 
        name: "label" 
        widget: "string"
      - label: "Network Code" 
        name: "network_code" 
        widget: "select"
        options: ["facebook", "twitter", "instagram", "linkedin"]
      - label: "href" 
        name: "href" 
        widget: "string"

  - name: "office"
    label: "Office"
    folder: "src/pages/offices"
    create: true    
    slug: "{{country}}-{{location}}"
    fields:
      - label: "Template Key"
        name: "templateKey"
        widget: "hidden"
        default: "office-page"

      - label: "Location" 
        name: "location" 
        widget: "string"

      - label: "Country" 
        name: "country"
        widget: "string"

      - label: "Country Abbreviation"
        name: "countryAbbreviation"
        widget: "string"

      - label: "Address"
        name: "address"
        widget: "markdown"

      - label: "Email"
        name: "email"
        widget: "string"

      - label: "Opening Date"
        name: "openingDate"
        widget: "date"   

      - label: "Hero"
        name: "hero" 
        widget: "object"
        fields:
          - label: "Title" 
            name: "title"
            widget: "string"             
          - label: "Summary" 
            name: "summary" 
            widget: "markdown"
          - label: "Tag" 
            name: "tag" 
            widget: "string"
          - label: "Image" 
            name: "image" 
            widget: "image"

      - label: "Media and Copy Block"
        name: "media_and_copy_block"
        widget: "object"
        fields:
          - label: "Title" 
            name: "title"
            widget: "string"  
          - label: "Summary" 
            name: "summary" 
            widget: "markdown"
          - label: "Large Media" 
            name: "large_media" 
            widget: "image"
          - label: "Small Media" 
            name: "small_media" 
            widget: "image"
          - label: "Media Side"
            name: "media_side"
            widget: "select"
            options: ["left", "right"]
          - label: "CTA"
            name: "cta"
            widget: object
            fields:
              - label: "Text"
                name: "text"
                widget: "string"
              - label: "href"
                name: "href"
                widget: "string"

      - label: "Stats"
        name: "stats"
        widget: "list"
        summary: '{{fields.label}}'
        fields:
          - label: "Label"
            name: "label"
            widget: "string"
          - label: "Value"
            name: "value"
            widget: "string"

      - label: "Job Openings"
        name: "job_openings"
        widget: "object"        
        fields:
          - label: "Summary"
            name: "summary"
            widget: "markdown"
          - label: "API Config"
            name: "api_config"
            widget: "string"

      - label: "Quote"
        name: "quote"
        widget: "object"        
        fields:
          - label: "Quote"
            name: "quote"
            widget: "markdown"
          - label: "Author"
            name: "author"
            widget: "string"
          - label: "Media"
            name: "media"
            widget: "image"    

      - label: "Media Carousel"
        name: "media_carousel"
        widget: "object"
        fields:
          - label: "Title"
            name: "title"
            widget: "text"
          - label: "Images"
            name: "images"
            widget: "list"
            summary: '{{fields.image}}'
            fields:
              - label: "Image"
                name: "image"
                widget: "image"

      - label: "Map"
        name: "map"
        widget: "map"  
      
